HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxx
WANDB_API_KEY=
HF_ORG=vikhram-labs
HF_DATASET_REPO=vikhram-labs/ananya-constitution-multilingual
HF_MODEL_REPO=vikhram-labs/ananya-1.5b-instruct
INDIC_TRANS2_MODEL=ai4bharat/indictrans2-indic-en-1B
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
COLAB_DRIVE_MOUNT=/content/drive/MyDrive/ANANYA
